.DS_Store
__pycache__
.ipynb_checkpoints
.venv
.cache
client_exploration-jvsc-*
data/skillshed_comparison
data/sql_data
.Rhistory
Project 1 - SyntheticFinancial Dataset For FraudDetection-LG DT RF XGB/*.csv
*.mp4